---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

export interface Props {
  title: string
  description?: string
}

const { title, description = "Servicios profesionales de redacción SEO para impulsar tu negocio online" } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="bg-white">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>